<%= stylesheet_link_tag "books.css", "data-turbo-track": "reload" %>
<p style="color: green"><%= notice %></p>
<h3> Author List </h3>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Open</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.email %></td>
        <td><%= link_to "Open", author_path(author), class: "btn btn-dark" %></td>
        <td><%= link_to "Edit", edit_author_path(author), class: "btn btn-dark" %></td>
        <td><%=  button_to "Delete", author, method: :delete , class:"btn btn-danger" %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<%= link_to "Create New Author" , new_author_path, class: "btn btn-primary" %>


